* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;

    min-width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid black;
}

header {
    height: 6rem;
    width: 100%;
    background-color: #480063;
}

.content-wrapper {
    min-height: 100vh; /* gick bra för med skalning också men sätta en bestämd var sämre*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure {
    margin-top: 1rem;
    height: 6rem;
    width: 6rem;
    background-color: #480063;
    border-radius: 50%;
}

section {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

article {
    width: 100%;
    background-color: #fd96a9;
    margin-bottom: 0.5rem;
    height: 6rem;
}

article:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

article:nth-child(2) {
    background-color: #b2008a;
    grid-row: 1;
    grid-column: 2;
}

article:nth-child(3) {
    background-color: #b2008a;
    grid-row: 2;
    grid-column: 1;
}

article:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
}

button {
    width: 16rem;
    height: 4rem;
    margin: 2rem auto;
    background-color: #f42dac;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(0.95);
}

footer {
    background-color: #c1c99a;
    height: 8rem;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .wrapper {
        margin: 0;
        padding: 0.5rem;
    }
    .content-wrapper {
        align-items: center;
        padding: 0;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    article {
        margin: 0;
    }

    button {
        width: 60%;
        border-radius: 999rem;
    }
}
